# For overriding the values used for automatic superuser creation during container startup.
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=
# Optional; blank email address is allowed.
DJANGO_SUPERUSER_EMAIL=
