# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Environments
.venv/
env/
venv/

# Django
app/staticfiles/
app/media/

# IDE
.vscode/
.idea/

# Node
node_modules/

# Tailwind build output
app/static/css/tailwind.css
app/static/css/tailwind.*.css.map

# Secrets
.env
*.env

# LibreOffice
.~lock.*
